.customOverlay {
    background-image: url("/images/treasure.jpg");
    background-size: auto;
    /* background-repeat: round; */
    /* width: fit-content; */
    height: fit-content;
    background-size: cover;
    filter: opacity(0.3);
 }

table, th, td {
    /* border: 1px dotted black; */
    text-align: left;
    overflow-x:auto;
    margin: auto;
}

td {
    text-align: center;
}

th {
    text-decoration: underline;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    font-family: cursive;
}

tr:nth-child(even) {
      background-color: #EEf9f0;
}

.button{
    background-color: aquamarine;
    color:navy;
    /* width: 120px; */
    border-radius: 15px 50px;
    }

.DeadSpan{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 15px 50px;
    display: inline-block;
    border-bottom: solid;
}
